@using EInvoice.Common.DTO
@model ProductDTO

@{
    var isEdit = Model.Id != 0;
    ViewData["Title"] = Model.Id == 0 ? "Add Product" : "Edit Product";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-medium mb-4">@ViewData["Title"]</h5>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Upsert" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.OrganizationId)
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label asp-for="ProductDescription" class="form-label"></label>
                                <input asp-for="ProductDescription" class="form-control" />
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="HsCode" class="form-label"></label>
                                <input asp-for="HsCode" class="form-control" />
                                <span asp-validation-for="HsCode" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="UoM" class="form-label"></label>
                                <input asp-for="UoM" class="form-control" />
                                <span asp-validation-for="UoM" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="FixedNotifiedValueOrRetailPrice" class="form-label"></label>
                                <input asp-for="FixedNotifiedValueOrRetailPrice" class="form-control" />
                                <span asp-validation-for="FixedNotifiedValueOrRetailPrice" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="Rate" class="form-label"></label>
                                <input asp-for="Rate" class="form-control" />
                                <span asp-validation-for="Rate" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            @(isEdit ? "Update" : "Create")
                        </button>
                        <a asp-action="Index" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
