@using EInvoice.Common.DTO
@model InvoiceDTO
<style>
    .modal {
        z-index: 1060 !important;
    }

    .modal-backdrop {
        z-index: 1040 !important;
    }

    .valdiation-errors {
        color: #DC3545;
    }
</style>
@{
    ViewData["Title"] = "Add Invoice";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Add Invoice</h3>
        </div>
    </div>
    <div class="card mt-3">
        <form asp-action="Add" method="post">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="InvoiceRefNo"></label>
                        <input asp-for="InvoiceRefNo" class="form-control" />
                        <span asp-validation-for="InvoiceRefNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="InvoiceDate"></label>
                        <input asp-for="InvoiceDate" type="date" class="form-control" />
                        <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="InvoiceType">Invoice Type</label>
                        <select asp-for="InvoiceType"
                                asp-items="@(new SelectList(Model.InvoiceTypes, "Id", "Type"))"
                                class="form-control">
                            <option value="">-- Select Invoice Type --</option>
                        </select>
                        <span asp-validation-for="InvoiceType" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="BuyerId">Buyer</label>
                        <select asp-for="BuyerId"
                                asp-items="@(new SelectList(Model.Clients, "Id", "BusinessName"))"
                                class="form-control">
                            <option value="">-- Select Buyer --</option>
                        </select>
                        <span asp-validation-for="BuyerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-4">
                    <h4>Invoice Items</h4>
                    <div class="text-end mb-2">
                        @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal"> *@
                        @*     Add Item *@
                        @* </button> *@

                        @* <button type="button" class="btn btn-sm btn-warning edit-item" *@
                        @*         data-id="@item.Id" *@
                        @*         data-name="@item.Name" *@
                        @*         data-rate="@item.Rate"> *@
                        @*     Edit *@
                        @* </button> *@
                        <button type="button" class="btn btn-primary" id="btnAddItem">
                            Add Item
                        </button>

                    </div>
                    <table class="table table-sm table-bordered" id="invoiceItemsTable">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Rate</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="invoiceItems"></tbody>
                    </table>
                </div>
                <div class="row mt-4 valdiation-errors">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">Save Invoice</button>
                <button type="reset" class="btn btn-danger btn-sm">Reset</button>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Views/Invoice/Modal/_ItemModal.cshtml", Model.ProductViewModel)
@section Scripts {
    <script src="~/js/invoice/add-invoice.js"></script>
    <script src="~/js/invoice/item-modal.js"></script>
}
