@using EInvoice.Common.DTO
@model IEnumerable<InvoiceDTO>

@{
    ViewData["Title"] = "Invoices";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Invoices</h4>
                        </div>
                        <div class="ms-auto mt-3 mt-md-0">
                            <a asp-action="Upsert" asp-controller="Invoice" class="btn btn-secondary m-1"><i class="ti ti-plus"></i>Add Invoice</a>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                            <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">InvoiceType</th>
                                    <th scope="col">InvoiceDate</th>
                                    <th scope="col">InvoiceRefNo</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var invoice in Model)
                                    {
                                        <tr>
                                            <td>#</td>
                                            <td>@invoice.InvoiceType</td>
                                            <td>@invoice.InvoiceDate</td>
                                            <td>@invoice.InvoiceRefNo</td>
                                            <td>
                                                <a asp-controller="Invoice" asp-action="Upsert" asp-route-id="@invoice.Id" class="item" data-bs-toggle="tooltip" data-placement="top" aria-label="Details" data-bs-original-title="Details">
                                                    <i class="info-icon">i</i>
                                                </a>
                                                <a asp-controller="Invoice" asp-action="Upsert" asp-route-id="@invoice.Id" class="item" data-bs-toggle="tooltip" data-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                    <i class="ti ti-pencil"></i>
                                                </a>
                                                <a href="javascript:void(0);" data-url="@Url.Action("Delete", new { id = invoice.Id })" class="item delete-confirm">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">No invoices found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container d-none">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">Invoices</h2>
                <a asp-action="Upsert" asp-controller="Invoice" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-plus"></i>Add Invoice</a>
            </div>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>InvoiceType</th>
                            <th>InvoiceDate</th>
                            <th>InvoiceRefNo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var invoice in Model)
                            {
                                <tr>
                                    <td>#</td>
                                    <td>@invoice.InvoiceType</td>
                                    <td>@invoice.InvoiceDate</td>
                                    <td>@invoice.InvoiceRefNo</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <a asp-controller="Invoice" asp-action="Upsert" asp-route-id="@invoice.Id" class="item" data-bs-toggle="tooltip" data-placement="top" aria-label="Details" data-bs-original-title="Details">
                                                <i class="fas fa-info"></i>
                                            </a>
                                            <a asp-controller="Invoice" asp-action="Upsert" asp-route-id="@invoice.Id" class="item" data-bs-toggle="tooltip" data-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="fas fa-pencil"></i>
                                            </a>
                                            <a href="javascript:void(0);" data-url="@Url.Action("Delete", new { id = invoice.Id })" class="item delete-confirm">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">No invoices found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
</div>