@using EInvoice.Common.Entities
@model IEnumerable<ClientDTO>
@{
    ViewData["Title"] = "Clients";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">Clients</h2>
                <a asp-action="Upsert" class="au-btn au-btn-icon au-btn--blue"><i class="zmdi zmdi-plus"></i>Add Client</a>
            </div>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Business Name</th>
                            <th>Province</th>
                            <th>Registration Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.BusinessName</td>
                                <td>@client.Province</td>
                                <td>@client.RegistrationType</td>
                                <td>
                                    <a asp-action="Upsert" asp-route-id="@client.Id" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="javascript:void(0);" data-url="@Url.Action("Delete", new { id = client.Id })" class="btn btn-sm btn-danger delete-confirm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
</div>