@using EInvoice.Common.DTO
@model ClientDTO
@{
    var isEdit = Model.Id != 0;
    ViewData["Title"] = Model.Id == 0 ? "Add Client" : "Edit Client";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-medium mb-4">@ViewData["Title"]</h5>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Upsert" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.Id)
                        <div class="row">
                        <div class="col-6 mb-3">
                            <label asp-for="NTNCNIC" class="form-label"></label>
                            <input asp-for="NTNCNIC" class="form-control" />
                            <span asp-validation-for="NTNCNIC" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="BusinessName" class="form-label"></label>
                            <input asp-for="BusinessName" class="form-control" />
                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="Province" class="form-label"></label>
                            <input asp-for="Province" class="form-control" />
                            <span asp-validation-for="Province" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-6 mb-3">
                            <label asp-for="RegistrationType" class="form-label"></label>
                            <select asp-for="RegistrationType" class="form-control" asp-items="@(new SelectList(new[] { "Registered", "Unregistered" }))">
                                <option value="">-- Select Type --</option>
                            </select>
                            <span asp-validation-for="RegistrationType" class="text-danger"></span>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            @(isEdit ? "Update" : "Create")
                        </button>
                        <a asp-action="Index" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>