@using EInvoice.Common.DTO
@model OrganizationDTO
@{
    ViewData["Title"] = "Organization Details";
}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Organization Details</h4>
                        </div>

                    </div>
                    <div class="p-4">
                        <dl class="row">
                            <dt class="col-sm-3">NTN / CNIC</dt>
                            <dd class="col-sm-9">@Model.NTNCNIC</dd>

                            <dt class="col-sm-3">Business Name</dt>
                            <dd class="col-sm-9">@Model.BusinessName</dd>

                            <dt class="col-sm-3">Province</dt>
                            <dd class="col-sm-9">@Model.Province</dd>

                            <dt class="col-sm-3">Address</dt>
                            <dd class="col-sm-9">@Model.Address</dd>
                        </dl>

                        <div class="mt-4">
                            <a asp-controller="Organization" asp-action="Upsert" asp-route-id="@Model.Id" class="btn btn-primary">
                                Edit
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="py-6 px-6 text-center">
        <p class="mb-0 fs-4">Design and Developed by <a href="https://www.wrappixel.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">Wrappixel.com</a></p>
    </div>
</div>